.recuadro {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #CC6633;
  margin-bottom: 10px;
}

#columna_2{
  top: 0;
  left: 100px;
  position: absolute;

}
#columna_3{
  top: 0;
  left: 185px;
  position: absolute;
  
}

